.corosailBody {
  width: 100%;
  height: 40vh;
  /* background: #212121; */
  display: flex;
  overflow: auto;
}

.corosailBody::-webkit-scrollbar{
  display: none;
}

.group {
  /* background: #000; */
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding-right: 1em;
  animation: spin 10s infinite linear;
}

.card {
  flex: 0 0 5em;
  /* height: 5em; */
  border-radius: 30px;
  padding: 1em;
  background: #56d193;
  font-size: 3rem;
  text-align: center;
  align-content: center;
}




@keyframes spin {
  from{ translate: 0;}
  to{translate: -100%;}
}