@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .creationsContainer {
    /* padding: 2rem; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .creationsTitle {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #fff;
  }
  
  .cardsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  
  .card {
    width: 300px;
    background: #1a1a1a;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0px 10px rgb(30, 255, 0);
    opacity: 0;
  }
  
  .card.visible {
    animation: fadeInUp 0.5s ease-out forwards;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px var(--cardsHoverolor);
  }
  
  .cardImage {
    margin-top: 20px;
    border-radius: 20px;
    width:  200px;
    height: 200px;
    object-fit: cover;
  }
  
  .cardContent {
    padding: 1.5rem;
  }
  
  .cardTitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #fff;
  }
  
  .cardDescription {
    font-size: 1rem;
    color: #ccc;
    margin-bottom: 1.5rem;
  }
  
  .cardLink {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .cardLink:hover {
    background-color: #0056b3;
  }

  @media (max-width: 490px) {

    .card{
      margin: 0;
    }


    .cardsGrid {
      /* width: 500px; */
      margin: 50px 0;
      grid-template-columns: 1fr;
      gap: 1.5rem;
    }
  }
  