.herobody{
    height: 40vh;
    width: 80vw;
    background: #1bfff4;
    border-radius: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    position: relative;
    overflow: hidden;
    transition: width 0.5s ease-in-out; /* Added for smooth transition */
}


.fullWidth {
  height: 60vh;
    width: 100vw;
    border-radius: 0; /* Optional: remove border-radius when full-width */

}

.herobody h1{
    font-size: 3rem;
    font-weight: 700;
}

.heroContent {
    position: relative;
    z-index: 1;
}

/* Waves Animation */
.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15vh;
  min-height: 100px;
  max-height: 150px;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
  fill: rgba(255, 255, 255, 0.7);
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
  fill: rgba(255, 255, 255, 0.5);
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
  fill: rgba(255, 255, 255, 0.3);
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
  fill: #ffffff;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
