.starsContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.star {
    position: absolute;
    background-color: var(--star-color);
    border-radius: 50%;
    animation: fall linear infinite;
}

@keyframes fall {
    from {
        transform: translateY(-100px) translateX(var(--x-start));
    }
    to {
        transform: translateY(100vh) translateX(var(--x-end));
    }
}
