.nav {
  height: 8vh;
  background-color: var(--nav-footer-bg);
  padding: 1rem;
  color: var(--nav-footer-text);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: background-color 0.3s ease;
}

/* .logo {
  height: 40px;
  width: 40px;
  background: #61f097;
} */

.linkdiv {
  width: 70%;
  height: 80%;
  background: #61f097;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  animation: fadeIn 2 ;
}

.navlink {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  border-radius: 30px;
  transition: background-color 0.3s ease, color 0.3s ease;
  /* animation: --animate__animated animate__bounce 1 ; */
}

.navlink:hover {
  background-color: #e9ecef;
  color: #000;
}

.navlink:active {
  background-color: #007bff; /* Blue background for the active link */
  color: white;
}




@keyframes slideDownFadeIn {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}