.nav {
  height: 8vh;
  background-color: var(--nav-footer-bg);
  padding: 1rem;
  color: var(--nav-footer-text);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: background-color 0.3s ease;
}

.logo{
  height: 40px;
  width: 40px;
  background: #61f097;
}

.linkdiv{
  width: 70%;
  height: 80%;
  background: #61f097;
  border-radius: 20px;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}


.navlink{
  text-decoration: none;
  color: black;
  /* background: #61f097; */
}


