


.TypingAnimationBody{
    height: 40vh;
    width: 100%;
    /* background: #000; */
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}




.TypingAnimationSec1{
    /* background: #2a292b; */
    height: 100%;
    width: 60%;
   
}
.TypingAnimationSec2{
    background: #fd00a9;
    height: 100%;
    width: 40vw;
}

.TypingAnimationSec1 h2{
    color: var(--text-color);
    font-size: 16px;
    /* text-align: center; */
    padding-top: 50px;
    padding-left: 100px;
    margin-bottom: 0;
    text-transform: capitalize;
    
}

.typingCursor::after {
    content: '|';
    animation: blink 1s step-end infinite;
    color: var(--text-color); /* Use theme variable */
}

@keyframes blink {
    from, to {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}









