* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;


  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


:root {   /* Light Theme Variables */
  
  --background-color: #E6E6E6;
  --text-color: #213547;
  --nav-footer-bg: #a6a6a600;
  --nav-footer-text: #333;
  --corosail-border: #212121;
  --star-color:#000000;
  --text-color:#000000;
}

.dark-theme {   /* Dark Theme Variables */
  
  --background-color: #242424;
  --text-color: rgba(255, 255, 255, 0.87);
  --nav-footer-bg: #1a1a1a;
  --nav-footer-text: white;
  --corosail-border: #ffffff;
  --star-color:#ffffff;
  --text-color:#ffffff;
}


